.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  font-size: 25px;
  line-height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}
